.blogs {
  background-image: url("../../img/cynthia-magana-138943-unsplash-desktop.png");
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 196px;
  padding-left: 61%;
  padding-right: 5%;
}

.blogs p {
  font-size: 17px;
  font-weight: 400;
  line-height: 28.9px;
  color: $white;
}
