.connection {
  position: relative;
  padding-top: 221px;
  padding-bottom: 259px;
  background: url("../../img/girl-flag-bg-desktop.png") no-repeat top 10px right 0px,
    url("../../img/backpack.png") no-repeat top 146px left 0px;
}

.connection__container {
  padding-left: 104px;
}

.connection p {
  width: 40%;
  padding-top: 24px;
  padding-bottom: 65px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 28.9px;
}

.connection__button {
  position: absolute;
  left: 473px;
}
