.global-h {
  margin: 0;
  font-family: $montserrat;
  font-size: 40px;
  line-height: 48.76px;
  font-weight: 700;
  color: $blue-accent;
  text-transform: uppercase;
}

.global-input {
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  padding-top: 15px;
  padding-bottom: 19px;
  padding-left: 39px;
  padding-right: 65px;
  width: 315px;
  font-size: 17px;
  line-height: 20.4px;
  font-weight: 500;
  font-variant: small-caps;

  &:focus {
    border-color: #FFC341;

  }
}

.global-button {
  font-family: $fontFamily;
  border: none;
  font-variant: small-caps;
  border-radius: 80px;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 34px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  color: $white;
  background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);

  &:hover {
    background: linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
  }
}

@media (max-width: $tablet-width) {
  .global-input {
    width: 290px;
  }

  .global-h {
    font-size: 32px;
    line-height: 39px;
  }
}

@media (max-width: $mobile-width) {
  .global-h {
    text-align: center;
  }
}
