.information {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 156px;
  background: url("../../img/watercolor_Bg-inform.png") no-repeat top -170px left 0,
    url("../../img/stamp-desktop.png") no-repeat top 240px right 0px;
}

.information__summary {
  width: 48.8%;
  padding-top: 32px;
}

.information__summary h2 {
  width: 66%;
}

.information__img {
  margin-left: 11px;
}

.information__note {
  display: flex;
  margin: 0;
  padding-top: 48px;
  width: 79%;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;

  &::before {
    content: "";
    padding-right: 12px;
    display: block;
    border-left: 4px solid rgba(255, 195, 65, 1);
    height: auto;
    width: 4px;
  }
}

.information__desc {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 34px;
  width: 72%;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.5px;
}

.information h3 {
  margin: 0;
  padding-bottom: 31px;
  width: 67%;
  font-size: 17px;
  font-weight: 500;
  line-height: 28.9px;
}

.information__list {
  background-image: url("../../img/icons/Vector.svg");
  background-repeat: repeat-y;
  background-position: top 27px left 1px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.information__list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-bottom: 55px;

  &::before {
    content: "";
    position: absolute;
    left: -14px;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    background-color: $white;
  }

  &:nth-child(2) {
    padding-bottom: 45px;
  }

  &:nth-child(3) {
    padding-bottom: 39px;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.information__list li p {
  margin: 0;
  width: 62%;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}

.information__list li span {
  color: $yellow-accent;
  padding-right: 37px;
  z-index: 1;
}

@media (max-width: $tablet-width) {
  .information {
    background: none,
      url("../../img/stamp-mobile.png") no-repeat top 355px right 0px;
    padding-bottom: 79px;
  }

  .information__img {
    display: none;
  }

  .information__summary {
    padding-top: 0;
    width: 100%;
    padding-left: 4.7%;
  }

  .information__desc {
    padding-top: 23px;
    padding-bottom: 22px;
    font-size: 14px;
    line-height: 22.4px;
    width: 93%;
  }

  .information h3 {
    font-size: 16px;
    line-height: 25.6px;
    width: 90%;
  }

  .information__list {
    padding-left: 8px;
    background-position: left 10px top 0;
  }

  .information__list li {
    padding-bottom: 59px;

    &:nth-child(2) {
      padding-bottom: 59px;
    }

    &:nth-child(3) {
      padding-bottom: 59px;
    }

    &::before {
      left: -15px;
    }
  }

  .information__list li p {
    font-size: 14px;
    line-height: 22.4px;
    width: 83%;
  }

  .information__list li span {
    padding-right: 30px;
  }

  .information__note {
    width: 95%;
    padding-top: 23px;
    font-size: 14px;
    line-height: 22.4px;

    &::before {
      margin-left: -5px;
    }
  }
}

@media (max-width: $mobile-width) {
  .information__summary {
    padding-top: 50px;
  }

  .information__summary h2 {
    width: 100%;
  }

  .information__list li:nth-child(2) {
    padding-bottom: 36px;
  }

  .information__list li:nth-child(3) {
    padding-bottom: 25px;
  }
}
