.life-in-Israel {
  text-align: center;
  background: url("../../img/watercolor_Bg-photos.png") top -43px center, url("../../img/watch.png") bottom 110px right;
  background-repeat: no-repeat;
  padding-bottom: 38px;
}

.life-in-Israel h2 {
  width: 42%;
  margin: 0 auto;
}

.life-in-Israel__photos {
  display: flex;
  flex-direction: row;
}

.life-in-Israel__desc {
  width: 62%;
  margin: 0 auto;
  padding-top: 24px;
  font-size: 17px;
  font-weight: 400;
  line-height: 28.9px;
}

@media (max-width: $tablet-width) {
  .life-in-Israel {
    background: none;
    padding-bottom: 0;
  }

  .life-in-Israel h2 {
    width: 46%;
  }

  .life-in-Israel__desc {
    margin: 0 auto;
    font-size: 16px;
    line-height: 25.6px;
    width: 86%;
  }
}

@media (max-width: $mobile-width) {
  .life-in-Israel__desc {
    margin: 0;
    text-align: left;
    margin-left: 5%;
  }

  .life-in-Israel h2 {
    width: 100%;
  }
}
