.main-footer {
  border-top: 1px solid rgba(71, 71, 71, 0.2);
  min-height: 77px;
}

.main-footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 77px;
}

.main-footer__container p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.main-footer__networks {
  padding-right: 12px;
}

.main-footer__networks ul {
  width: 100px;
}

@media (max-width: $mobile-width) {
  .main-footer {
    padding-top: 31px;
  }

  .main-footer__container {
    flex-direction: column;
    min-height: 132px;
  }

  .main-footer__networks {
    padding-right: 0;
  }

  .main-footer__networks ul {
    width: 126px;
  }

  .main-footer__networks .social-networks__svg--fb {
    display: block;
    width: 14px;
    height: 28px;
  }

  .main-footer__networks .social-networks__svg--tw {
    display: block;
    width: 30px;
    height: 24px;
  }

  .main-footer__networks .social-networks__svg--instagram {
    display: block;
    width: 26px;
    height: 26px;
  }
}
