.map {
  width: 54%;
}

.map iframe {
  border: none;
}

@media (max-width: $tablet-width) {
  .map {
    padding-top: 43px;
    margin: 0 auto;
    width: 700px;
  }

  .map iframe {
    width: inherit;
    height: 450px;
  }
}

@media (max-width: $mobile-width) {
  .map {
    width: 320px;
  }

  .map iframe {
    width: 320px;
    height: 395px;
  }
}
