.programs {
  padding-top: 40px;
  background-image: url("../../img/sketch_Bg.png");
  background-repeat: no-repeat;
  background-position: top -9px right;
  background-size: 680px 426px;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../../img/sketch_Bg-2x.png");
  }
}

.programs h2 {
  padding-left: 104px;
  width: 35%;
}

.programs__wrapper {
  padding-top: 70px;
  padding-left: 104px;
  display: flex;
  flex-direction: row;
}

.programs__wrapper ul {
  width: 27.6%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.programs__wrapper ul li {
  min-height: 70px;
}

.programs__link {
  padding-left: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: inherit;
  min-height: inherit;

  &--active {
    color: $white;
    background-image: url("../../img/Rectangle.png");
    background-repeat: no-repeat;
  }

  &:hover:not(.programs__link--active) {
    fill: #FFC341;
    color: #FFC341;
  }
}

.programs__link--active svg {
  fill: $white;
}

.programs__link span {
  padding-left: 16px;
}

.programs__description {
  width: 53%;
  padding-top: 12px;
}

.programs__item h3 {
  margin: 0;
  width: 50%;
  font-family: $montserrat;
  font-size: 28px;
  font-weight: 700;
  line-height: 34.13px;
  color: $blue-accent;
  padding-bottom: 24px;
}

.programs__item p {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.5px;
  padding-bottom: 17px;
}

.programs__svg--study {
  transform: scale(-1, 1);
}

@media (max-width: $tablet-width) {
  .programs__wrapper ul {
    width: 40%;
  }

  .programs h2 {
    width: 50%;
  }

  .programs__description {
    width: 57%;
  }
}

@media (max-width: $mobile-width) {
  .programs {
    padding-top: 0;
    background-image: url("../../img/sketch_Bg-mobile.png");
    background-repeat: no-repeat;
    background-position: top 118px right -6px;
    background-size: 320px auto;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/sketch_Bg-mobile-2x.png");
    }
  }

  .programs__wrapper {
    padding: 0;
    flex-direction: column;
  }

  .programs h2 {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .programs__wrapper ul {
    width: max-content;
    min-height: 50px;
    display: flex;
    margin-top: 17px;
    margin-left: 2px;
    margin-bottom: 17px;
  }

  .programs__wrapper ul li {
    padding: 0;
    padding-right: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
  }

  .programs__link {
    padding-left: 0;
    min-height: inherit;

    &--active {
      width: 183px;
      padding-left: 10px;
      background-image: url("../../img/Rectangle-mobile.png");
      background-repeat: no-repeat;
    }

    &--general svg {
      display: none;
    }
  }

  .programs__link img {
    &:not(.programs__img--active) {
      opacity: 0.5;
      width: 27px;
      height: auto;
    }
  }

  .programs__link span {
    padding-left: 7px;
  }

  .programs__link svg {
    width: 30px;
    height: 30px;
  }

  .programs__link--active span {
    padding-left: 11px;
    text-transform: uppercase;
  }

  .programs__description {
    width: 100%;
    padding-left: 15px;
  }

  .programs__item h3 {
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
  }

  .programs__item p {
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 22.4px;
    width: 94%;
  }
}
