.promo {
  background: url("../../img/promo-desktop.png") top center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 896px;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../../img/promo-desktop-2x.png");
  }
}

.promo__container {
  background: url("../../img/scroll-down.png") top 627px center;
  background-repeat: no-repeat;
  min-height: inherit;
}

.promo h1 {
  margin: 0 auto;
  padding-top: 540px;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 700;
  color: $white;
  width: 30%;
  text-align: center;
}

@media (max-width: $tablet-width) {
  .promo {
    background-size: contain;
    min-height: 595px;
  }

  .promo h1 {
    width: 68%;
  }
}

@media (max-width: $mobile-width) {
  .promo {
    background: url("../../img/promo-mobile.png") top 20px center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 587px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/promo-mobile-2x.png");
    }
  }

  .promo__container {
    background: url("../../img/scroll-down.png") top 415px center;
    background-repeat: no-repeat;
  }

  .promo h1 {
    padding-top: 335px;
    font-size: 20px;
    line-height: 24px;
    width: 95%;
  }
}
