.promo {
  background: url("../../img/scroll-down.png") top 627px center,
    url("../../img/promo-desktop.png") top center;
  background-repeat: no-repeat;
  min-height: 896px;
}

.promo h1 {
  margin: 0 auto;
  padding-top: 540px;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 700;
  color: $white;
  width: 30%;
  text-align: center;
}
