.questions {
  padding-top: 134px;
  padding-bottom: 126px;
  background: url("../../img/watercolor_Bg-questions-desktop.png") top 55px center, url("../../img/bag.png") bottom 65px left;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
}

.questions__container img {
  position: absolute;
  right: -106px;
  top: 0;
}

.questions__wrapper {
  width: 45%;
  margin-left: 112px;
}

.questions ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  width: 90.5%;
}

.questions ul li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(72, 72, 72, 0.2);
}

.questions ul li a {
  padding-top: 23px;
  padding-bottom: 24px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $text-black;
}

.questions ul li a span {
  padding-right: 16px;
  font-size: 28px;
  line-height: 47.6px;
  font-weight: 700;
  color: rgba(255, 195, 65, 1);
}

.questions ul li a svg {
  margin-left: auto;
}

.questions ul li h4 {
  padding-top: 10px;
  font-size: 17px;
  line-height: 25.5px;
  font-weight: 400;
  margin: 0;
  width: 68%;
}

.questions ul li p {
  padding-bottom: 27px;
  width: 93%;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}
