.reviews {
  padding-bottom: 103px;
  background: url("../../img/sketch-reviews.png") top 56px right -3px,
    url("../../img/watercolor_bg-reviews.png") right top 40px;
  background-repeat: no-repeat;
}

.reviews__photo {
  flex-shrink: 0;
}

.reviews__img {
  padding-top: 56px;
  margin-left: -8px;
}

.reviews__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews__list {
  width: 65.6%;
}

.reviews__list h2 {
  width: 40%;
  padding-left: 83px;
}

.reviews__list blockquote {
  margin: 0;
  padding-top: 48px;
  width: 89%;
}

.reviews__list blockquote cite {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  font-style: normal;
}

.reviews__program {
  padding-top: 11px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
}

.reviews__program p {
  margin: 0;
}

.reviews__program span {
  color: $blue-accent;
  padding-right: 8px;
}

.reviews__desc {
  font-size: 17px;
  line-height: 28.9px;
  font-weight: 400;
}

.reviews__list a {
  color: $blue-accent;
  font-size: 17px;
  line-height: 25.5px;
  font-weight: 400;
}

.reviews__wrapper {
  padding-top: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews__toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 17px;
  line-height: 25.5px;
  font-weight: 400;
  color: rgba(72, 72, 72, 0.5);
}

.reviews__number {
  padding-right: 20px;
}

.reviews__social-networks ul {
  width: 104px;
}

@media (max-width: $tablet-width) {
  .reviews__container {
    flex-direction: column;
  }

  .reviews {
    background-position: top 450px right -3px;
    position: relative;
    padding-bottom: 72px;
  }

  .reviews__list {
    width: 100%;
    padding-left: 5%;
  }

  .reviews__list blockquote {
    padding-top: 53px;
    padding-bottom: 13px;
    width: 94%;
  }

  .reviews__list h2 {
    width: 160px;
    position: absolute;
    top: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .reviews__list a {
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
  }

  .reviews__program {
    padding-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    line-height: 22.4px;
  }

  .reviews__desc {
    font-size: 16px;
    line-height: 25.6px;
  }

  .reviews__img {
    text-align: center;
    margin: 0;
    padding-top: 63px;
  }

  .reviews__img img {
    width: 240px;
    height: 320px;
  }

  .reviews__toggle {
    position: absolute;
    top: 393px;
    left: 50%;
    transform: translateX(-50%);
  }

  .reviews__wrapper {
    padding-top: 22px;
  }
}

@media (max-width: $mobile-width) {
  .reviews {
    background: url("../../img/sketch-reviews-mobile.png") top 527px left 32px;
    background-repeat: no-repeat;
  }

  .reviews__container {
    background: url("../../img/watercolor_bg-reviews-mobile.png") top 730px left;
    background-size: contain;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/watercolor_bg-reviews-mobile-2x.png");
    }
  }

  .reviews__list h2 {
    width: 50%;
  }

  .reviews__program {
    padding-bottom: 5px;
  }
}
