.video-player {
  position: relative;
  width: max-content;
  margin: 0 auto;
}

.video-player__button {
  position: absolute;
  top: 193px;
  left: 402px;
  display: block;
  border: none;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 61%;
    transform: translateX(-50%);
    border: 9px solid transparent;
    border-left: 12px solid $blue-accent;
  }

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.32);
  }

  &:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  }

  &:active {
    background-color: #F4F4F4;
  }
}

.video-player__button:hover::after {
  border-left: 12px solid #63D3FD;
}

@media (max-width: $tablet-width) {
  .video-player img {
    width: 730px;
    height: auto;
  }

  .video-player__button {
    top: 175px;
    left: 327px;
  }
}


@media (max-width: $mobile-width) {
  .video-player img {
    width: 320px;
    height: auto;
  }

  .video-player__button {
    top: 95px;
    left: 134px;
    width: 53px;
    height: 53px;

    &::before {
      top: -13px;
      left: -14px;
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 33%;
    }
  }
}
