.video-player {
  position: relative;
}

.video-player__button {
  position: absolute;
  top: 193px;
  left: 541px;
  display: block;
  border: none;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 61%;
    transform: translateX(-50%);
    border: 9px solid transparent;
    border-left: 12px solid $blue-accent;
  }

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.32);
  }
}
