$fontFamily: "Fira Sans", "Montserrat", "Raleway", "Arial", "Helvetica", sans-serif;
$montserrat: "Montserrat";
$text-black: #484848;
$white: #ffffff;
$blue-accent: #1fc0fc;
$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
