$fontFamily: "Open Sans", "Arial", "Helvetica", sans-serif;
$text-black: #484848;
$white: #ffffff;
$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
