$fontFamily: "Fira Sans",
"Montserrat",
"Raleway",
"Arial",
"Helvetica",
sans-serif;
$montserrat: "Montserrat";
$raleway: "Raleway";
$text-black: #484848;
$white: #ffffff;
$blue-accent: #1fc0fc;
$yellow-accent: #ffc341;
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
